.etype_header {
	background-color: #e0e0e0;
	font-weight: bold;
	border: 1px solid black;
}

.target_header {
	background-color: #ffffc0;
	font-weight: bold;
	border: 1px solid black;
}

.focusevent_header {
	background-color: #c0ffff;
	font-weight: bold;
	border: 1px solid black;
}

.handler_header {
	background-color: #c0c0ff;
	font-weight: bold;
	border: 1px solid black;
}

.focusevent_hilight {
	border: 1px solid #404040;
	border-radius: 4px;
	padding: 0 3px 0 3px;
	margin-left: 3px;
}

.blur_hilight {
	background: #ffa0a0;
}

.focus_hilight {
	background: #a0ffa0;
}

.focusin_hilight {
	background: #ccffcc;
}

.focusout_hilight {
	background: #ffcccc;
}

.domfocusin_hilight {
	background: repeating-linear-gradient(-45deg, #cfc, #cfc 8px, #fff 8px, #fff 16px);
}

.domfocusout_hilight {
	background: repeating-linear-gradient(-45deg, #fcc, #fcc 8px, #fff 8px, #fff 16px);
}

.hilite_target_a {
	background-color: #c0ffc0;
	padding: 0 10px;
}

.hilite_target_b {
	background-color: #ffc0ff;
	padding: 0 10px;
}

.hilite_target_outer {
	background-color: #c0c0c0;
	padding: 0 10px;
}

.hilite_related_a {
	background-color: #e0ffe0;
	padding: 0 10px;
}

.hilite_related_b {
	background-color: #ffe0ff;
	padding: 0 10px;
}

.hilite_related_outer {
	background-color: #f0f0f0;
	padding: 0 10px;
}

.hilite_handler_a {
	background-color: #e0ffe0;
	padding: 0 10px;
}

.hilite_handler_b {
	background-color: #ffe0ff;
	padding: 0 10px;
}

.hilite_handler_outer {
	background-color: #f0f0f0;
	padding: 0 10px;
}

#outer {
	border: 1px solid black;
	background-color: #f0f0f0;
	padding: 10px 20px 5px 20px;
}
