.hilite_target_a {
	background-color: #c0ffc0;
	padding: 0 10px;
}

.hilite_target_b {
	background-color: #ffc0ff;
	padding: 0 10px;
}

.hilite_target_outer {
	background-color: #c0c0c0;
	padding: 0 10px;
}

.hilite_related_a {
	background-color: #e0ffe0;
	padding: 0 10px;
}

.hilite_related_b {
	background-color: #ffe0ff;
	padding: 0 10px;
}

.hilite_related_outer {
	background-color: #f0f0f0;
	padding: 0 10px;
}

.hilite_handler_a {
	background-color: #e0ffe0;
	padding: 0 10px;
}

.hilite_handler_b {
	background-color: #ffe0ff;
	padding: 0 10px;
}

.hilite_handler_outer {
	background-color: #f0f0f0;
	padding: 0 10px;
}

#outer {
	border: 1px solid black;
	background-color: #f0f0f0;
	padding: 10px 20px 5px 20px;
}
