.subtitle {
	font-size: 12pt;
	font-style: italic;
}

#options {
	display: none;
	margin: 20px;
}

#optionstoggle {
	font-size: 10pt;
}

.opttable {
	border: 1px solid black;
}

.optcell {
	vertical-align: top;
	padding: 0 10px;
}

.opttitle {
	font-weight: bold;
}

.empty {
	background-color: #ffffff;
}

.subheader {
	font-size: 10pt;
}

.etype_header {
	background-color: #e0e0e0;
	font-weight: bold;
	border: 1px solid black;
}

.target_header {
	background-color: #ffffc0;
	font-weight: bold;
	border: 1px solid black;
}

.focusevent_header {
	background-color: #c0ffff;
	font-weight: bold;
	border: 1px solid black;
}

.handler_header {
	background-color: #c0c0ff;
	font-weight: bold;
	border: 1px solid black;
}

.undef {
	color: #a0a0a0;
}

input[type=checkbox]:disabled+label {
	color: #a0a0a0;
}

.focusevent_hilight {
	border: 1px solid #404040;
	border-radius: 4px;
	padding: 0 3px 0 3px;
	margin-left: 3px;
}

.blur_hilight {
	background: #ffa0a0;
}

.focus_hilight {
	background: #a0ffa0;
}

.focusin_hilight {
	background: #ccffcc;
}

.focusout_hilight {
	background: #ffcccc;
}

.domfocusin_hilight {
	background: repeating-linear-gradient(-45deg, #cfc, #cfc 8px, #fff 8px, #fff 16px);
}

.domfocusout_hilight {
	background: repeating-linear-gradient(-45deg, #fcc, #fcc 8px, #fff 8px, #fff 16px);
}

.showfieldoption {
	font-weight: normal;
	padding: 0 5px 0 5px;
	display: inline-block;
	min-width: 90px;
	text-align: center;
}

.hilite_target_a {
	background-color: #c0ffc0;
	padding: 0 10px;
}

.hilite_target_b {
	background-color: #ffc0ff;
	padding: 0 10px;
}

.hilite_target_outer {
	background-color: #c0c0c0;
	padding: 0 10px;
}

.hilite_related_a {
	background-color: #e0ffe0;
	padding: 0 10px;
}

.hilite_related_b {
	background-color: #ffe0ff;
	padding: 0 10px;
}

.hilite_related_outer {
	background-color: #f0f0f0;
	padding: 0 10px;
}

.hilite_handler_a {
	background-color: #e0ffe0;
	padding: 0 10px;
}

.hilite_handler_b {
	background-color: #ffe0ff;
	padding: 0 10px;
}

.hilite_handler_outer {
	background-color: #f0f0f0;
	padding: 0 10px;
}

#output tr:hover, tr.highlight {
	background-color: #e0e0e0;
}

#outer {
	border: 1px solid black;
	background-color: #f0f0f0;
	padding: 10px 20px 5px 20px;
}

.main_link {
	float: right;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 9pt;
	padding: 2px 4px;
	text-decoration: none;
	background-color: #e0e0ff;
}

body {
	margin: 10px;
	padding: 0 20px;
	background-color: #ffffff;
}

/* Fix for black background in Fullscreen (Chrome). */
html {
	background-color: #ffffff;
}

*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen, *:-ms-fullscreen {
	background-color: rgba(255,255,255,0);
	width: 100%;
	height: 100%;
}
