.etype_header {
	background-color: #e0e0e0;
	font-weight: bold;
	border: 1px solid black;
}

.legacy_header {
	background-color: #c0ffc0;
	font-weight: bold;
	border: 1px solid black;
}

.modifiers_header {
	background-color: #ffc0ff;
	font-weight: bold;
	border: 1px solid black;
}

.olddom3_header {
	background-color: #ffc0c0;
	font-weight: bold;
	border: 1px solid black;
}

.uievents_header {
	background-color: #c0ffff;
	font-weight: bold;
	border: 1px solid black;
}

.proposed_header {
	background-color: #ffffc0;
	font-weight: bold;
	border: 1px solid black;
}

.inputbox_header {
	background-color: #e0e0e0;
	font-weight: bold;
	border: 1px solid black;
}

.keydown_row_hilight {
	background-color: #e0ffe0;
}

tr .keydown_row_hilight:hover {
	background-color: #e0e0e0;
}

.keydown_arrow:after {
  content: " ⬇";
}

.keyup_arrow:after {
  content: " ⬆";
}

.div_ce {
	border: 1px solid black;
}
