.keydown_row_hilight {
	background-color: #e0ffe0;
}

tr .keydown_row_hilight:hover {
	background-color: #e0e0e0;
}

.keydown_arrow:after {
  content: " ⬇";
}

.keyup_arrow:after {
  content: " ⬆";
}

.div_ce {
	border: 1px solid black;
}
