.hilite_div_a {
	background-color: #c0ffc0;
	padding: 0 10px;
}

.hilite_div_b {
	background-color: #ffc0ff;
	padding: 0 10px;
}

.hilite_div_c {
	background-color: #c0ffff;
	padding: 0 10px;
}

.hilite_div_d {
	background-color: #c0c0c0;
	padding: 0 10px;
}

.hilite_div_e {
	background-color: #808080;
	padding: 0 10px;
}

.hilite_handler_a {
	padding: 0 10px;
}

.hilite_handler_b {
	padding: 0 10px;
}

.hilite_handler_c {
	padding: 0 10px;
}

#div_a {
	background-color: #c0ffc0;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-left: 30px;
	padding: 10px 0 10px 10px;
	display: inline-block;
}

#div_b {
	background-color: #ffc0ff;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 10px 0 10px 10px;
	padding: 10px 0 10px 10px;
	display: inline-block;
}

#div_c {
	background-color: #c0ffff;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 10px 0 10px 10px;
	padding: 10px 0 10px 10px;
	display: inline-block;
	min-width: 200px;
	min-height: 30px;
}
